body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2.5rem;
}

.post {
    width: 17em;
    height: 22.5em;
    background: #171717;
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 2rem;
  }
  
  .post .title {
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    padding-top: 1em;
    font-size: 1em;
  }
  
  .post .info {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    padding-top: 0.1em;
    font-size: 0.72em;
    margin: 1em;
    margin-top: 1em;
  }
  
  .post .image img{
    width: 100%;
    height: 100%;
    border-radius: 0 15px 0 0;
  }
  .post .image {
    width: 100%;
    height: 4.8em;
    background: white;
    border-radius: 0 15px 0 0;
    margin: auto;
  }
  
  .post .share {
    text-align: center;
    margin-top: 1.8em;
  }
  
  .post a {
    color: white;
    transition: .4s ease-in-out;
  }
  
  .post a:hover {
    color: rgb(36, 116, 221);
  }
  
  .post button {
    padding: 0.8em 1.7em;
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    margin-top: 2em;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
  }
  
  .post button:hover {
    background: rgb(36, 116, 221);
    color: white;
  }